// Base,Resetting, Animation, Typography, Utility.
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  height: 100%;
  color: #1d344a;
  overflow-x: hidden;
}
h1 {
  font-size: 6rem;
  line-height: 1.2;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;

  letter-spacing: -0.1rem;
}

li,
ul {
  list-style: none;
  display: inline-block;
}
a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: inline-block;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}
//////////////////////

// MEDIA QUERY MANAGER
/*
0 - 600px:       phone          Phone 
600 - 900px:     tab-port       Tablet Portait
900 - 1200px:    tab-land       Tablet Lanscape
1200 -1800px:     -             Normal
1800px +:        desktop-big    Desktop Big

*/

@mixin respond($breakpoint) {
  @if ($breakpoint==phone) {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if ($breakpoint==tab-port) {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if ($breakpoint==desk-nav) {
    @media (max-width: 1115px) {
      @content;
    }
  }
  @if ($breakpoint==tab-land) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint==desk-big) {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
