.container__middle {
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem 0 1.5rem;
}

.container__fullLeft {
  width: 100%;
  padding-right: 16rem;
}
.container__fullRight {
  width: 100%;
  padding-left: 16rem;
  position: relative;
}
/////
.bg-blue-10 {
  background-color: $color-blue-10;
}
.bg-white {
  background-color: $color-white;
}

//////////////////////
.font-s-20 {
  font-size: 2rem;
}
.font-s-18 {
  font-size: 1.8rem;
}
.font-s-17 {
  font-size: 1.7rem;
}
.font-s-16 {
  font-size: 1.6rem;
}
.font-s-14 {
  font-size: 1.4rem;
}
.font-s-12 {
  font-size: 1.2rem;
}
.font-s-10 {
  font-size: 1rem;
}
.font-s-8 {
  font-size: 0.8rem;
}
//////////////////////
.font-w-7 {
  font-weight: 700;
}
.font-w-6 {
  font-weight: 600;
}
.font-w-5 {
  font-weight: 500;
}
.font-w-4 {
  font-weight: 400;
}
.font-w-3 {
  font-weight: 300;
}

//////////////////////
.margin-tp-10 {
  margin-top: 10rem;
}
//////////////////////
.margin-bt-14 {
  margin-bottom: 14rem;
}
.margin-bt-12 {
  margin-bottom: 12rem;
}
.margin-bt-10 {
  margin-bottom: 10rem;
}
.margin-bt-8 {
  margin-bottom: 8rem;
}
.margin-bt-6 {
  margin-bottom: 6rem;
}
.margin-bt-4 {
  margin-bottom: 4rem;
}
.margin-bt-2 {
  margin-bottom: 2rem;
}
///////////////////////////////
.margin-r-dot5 {
  margin-right: 0.5rem;
}
///////////////////////////////

.btn__link {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  display: inline-block;
}
.fill--blue {
  background: linear-gradient(180deg, rgba($color-black-0, 0.2), rgba($color-black-0, 0.2)), linear-gradient(60deg, $color-blue-6 0%, $color-green-6 200%);
  position: relative;
  // overflow: hidden;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background: rgba($color-green-6, 0.25);
    transition: all 0.3s;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    transition: all 0.3s;
  }
}

.border--blue {
  border: $color-blue-6 2px solid;
  color: $color-blue-6;
  transition: all 0.3s;
  &:hover {
    background-color: rgba($color-blue-6, 0.15);
  }
}

////////////////////////////////

.flexGrow--1 {
  flex-grow: 1;
}

.hidden {
  display: none;
}

//////////////////////

.container--large {
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem 0 1.5rem;
}

//////////////////////

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fade-in-up {
  animation: fadeInUp 1s 1 ease;
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.displayNone {
  display: none !important;
}

//////////////////////
.empty {
  width: 100%;
  height: 25rem;
  background-color: #c8e0ec;
}

//////////////////////

.font--darkGrey {
  color: #333 !important;
}

.active--blueBtn {
  background-color: $color-blue-6 !important;
  border: $color-blue-6 solid 1px !important;
}

.active--ring {
  opacity: 1 !important;
}

.link--green {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: $color-blue-6;
  transition: all 0.3s;
  display: inline-block;
}
