// MEDIA QUERY MANAGER
/*
0 - 600px:       phone          Phone 
600 - 900px:     tab-port       Tablet Portait
900 - 1200px:    tab-land       Tablet Lanscape
1200 -1800px:     -             Normal
1800px +:        desktop-big    Desktop Big

*/
@mixin respond($breakpoint) {
  @if ($breakpoint==phone) {
    @media (max-width: 500px) {
      @content;
    }
  }
  @if ($breakpoint==tab-port) {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if ($breakpoint==desk-nav) {
    @media (max-width: 1115px) {
      @content;
    }
  }
  @if ($breakpoint==tab-land) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint==desk-big) {
    @media (max-width: 1800px) {
      @content;
    }
  }
}

$color-black-0: #000;
$color-black-1: #161717;
$color-white: #fff;
$color-blue-10: #f5f8fa;

$color-grey-5: #868686;

$color-darkBlue-3: #14214e;

$color-blue-5: #2998ff;
$color-blue-6: #00a3ff;

$color-green-5: #0bbce8;
$color-green-6: #17edd3;

$font-title: 'Orbitron', sans-serif;
$font-main: 'Poppins', sans-serif;
$font-suBmain: 'Montserrat', sans-serif;
$color-font-main: #1d344a;

$color-gradient-main: linear-gradient(to top right, $color-blue-5, $color-green-5);
