.header {
  width: 100%;
  background-color: #00000041;
  position: fixed;
  z-index: 99;
}
.header.secondColor {
  background-color: #14214e;
  transition: all 0.3s;
}
.headerInner {
  position: relative;
}
.logo {
  display: block;
  width: 14rem;
  @include respond(phone) {
    width: 10rem;
  }
}
.main-navigation {
  display: flex;
  align-items: center;
  gap: 1%;
}
.center-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-self: stretch;

  @include respond(desk-nav) {
    display: none;
  }
}

/////////////
.mobile-nav {
  display: none;
  margin-left: auto;
  padding: 2rem 2rem;

  @include respond(desk-nav) {
    display: flex;
    align-items: center;
  }
}
.burgurIcon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  .icon {
    display: inline-block;
    position: absolute;
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    &--top {
      left: 0;
      top: 0.45rem;
    }
    &--middle {
      left: 0;
      top: 1.15rem;
    }
    &--bottom {
      left: 0;
      top: 1.85rem;
    }


  }
}

.iconTop-transform {
  transform: translateY(0.7rem) rotate(135deg);
}
.iconMiddle-transform {
  transform: translateX(-4rem);
  opacity: 0;
}
.iconBottom-transform {
  transform: translateY(-0.7rem) rotate(-135deg);
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;

  background-color: #ffffff;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  &__list {
    width: 100%;
    padding: 0.5rem 0;
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }
  &__link {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-font-main;
    &:hover {
      color: $color-blue-5;
    }
  }
}

.menu {
  display: flex;

  &__list {
    display: flex;
    padding: 0 2rem;
  }
  &__link {
    color: #fff;
    position: relative;
    display: flex;
    align-self: stretch;
    font-weight: 700;
    padding: 3rem 0;
    &:hover {
      color: $color-green-5;
    }

    &::after {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotateY(90deg);
      content: '';
      height: 3px;
      // background-color: $color-green-5;
      background: linear-gradient(180deg, rgba($color-black-0, 0.2), rgba($color-black-0, 0.2)), linear-gradient(60deg, $color-blue-6 0%, $color-green-6 200%);

      transition: all 0.3s ease;
    }
  }
}

.menu__list:hover .menu__link::after {
  transform: rotateY(0deg);
}



.rightSideHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.searchBar {
  display: flex;
  align-items: center;
}
.searchIcon {
  display: inline-block;
  width: 2.5rem;
  cursor: pointer;
}
