.blogLocationSection {
  background-color: #161717;
  padding: 5rem 0 10rem;
}
.containerPadLeft {
  padding-left: 17rem;
  color: $color-white;
  @include respond(tab-port) {
    padding-left: 5rem;
  }
}
.blogLocation {
  display: flex;
  position: relative;
  @include respond(phone) {
    flex-direction: column;
  }
}

.blogPost {
  width: 30%;
  padding-right: 5rem;
  @include respond(phone) {
    width: 100%;
    margin-bottom: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }
}
.blogPostPages {
  display: flex;
  overflow: hidden;
  margin-bottom: 6rem;
}
.blogPostBox {
  min-width: 100%;
  transform: translateX(-0%);
  transition: all 0.3s;
  &__title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
  &__paragraph {
    font-size: 1.3rem;
    color: #999;
  }
}

.blogPostBtn__Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogPostBtn--btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  .line {
    width: 1.2rem;
    height: 0.1rem;
    background-color: $color-white;
  }
}

.circleBtn {
  width: 1.5rem;
  height: 1.5rem;
  border: $color-white solid 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-green-5;
    border: $color-green-5 solid 1px;
  }
}

.readmoreBox {
  width: 30%;
  display: flex;
  text-transform: uppercase;
  overflow: hidden;
  &:hover {
    transition: all 0.3s;

    transform: scale(1.03);
  }
}
.readmoreSlide {
  min-width: 100%;
}

.location {
  width: 15%;
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }
}

.locationBox {
  .cityBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    &__name {
      display: flex;
      width: fit-content;
      align-items: center;
      gap: 1rem;
      font-size: 1.3rem;
      color: #999;
      font-weight: 600;
      padding: 0.6rem 0;
      cursor: pointer;
      white-space: nowrap;
      &:hover,
      &:focus {
        color: $color-green-5;
        font-weight: 700;
        transition: all 0.5s;
      }

      &:hover .ring {
        opacity: 1;
        transition: all 0.5s;
      }
      .dot {
        position: relative;
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        background-color: $color-green-5;
        border: $color-green-5 1px solid;
        border-radius: 50%;
      }
      .ring {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1.75rem;
        height: 1.75rem;
        border: $color-green-5 1px solid;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }

    .locName-active {
      color: $color-green-5;
      font-weight: 700;
    }

    &__addressBox {
      height: 0;
      overflow: hidden;
      transition: all 1s;
    }

    &__addressInner {
      font-size: 1.3rem;
      font-weight: 500;
      margin: 0.5rem 0 2rem;
    }
  }
}

.locationMap {
  display: flex;
  align-items: start;
  width: 55%;
  position: relative;
  overflow: hidden;
  @include respond(tab-port) {
    transform: translateY(10%);
  }
  @include respond(tab-port) {
    transform: translateY(10%);
  }
  @include respond(phone) {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 70%;

  }
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0.5rem 0.5rem 4rem 2rem rgba($color-black-1, 1);
    z-index: 5;
  }

  &__map {
    position: absolute;
    position: relative;
    width: 90%;
    left: 0;
    top: 0;
    z-index: 0;
    img {
      display: block;
      width: 100%;
    }
    .dotMap {
      position: absolute;
      display: inline-block;

      width: 0.75rem;
      height: 0.75rem;
      background-color: $color-green-5;
      border: $color-green-5 1px solid;
      border-radius: 50%;
    }
    .doubleRing {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.75rem;
      height: 1.75rem;
      border: $color-green-5 1px solid;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
      opacity: 0;
      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        width: 3rem;
        height: 3rem;
        border: $color-green-5 1px solid;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .la {
      top: 54%;
      left: 14%;
    }
    .ny {
      top: 53%;
      left: 26%;
    }
    .uk {
      top: 41%;
      left: 47%;
    }
    .mc {
      top: 60%;
      left: 18%;
    }
    .id {
      top: 63%;
      left: 70%;
    }
    .it {
      top: 51%;
      left: 52%;
    }
    .cn {
      top: 51%;
      left: 76%;
    }
    .sk {
      top: 52%;
      left: 84%;
    }
    .th {
      top: 64%;
      left: 77%;
    }
  }
}
