.header {
  width: 100%;
  background-color: #00000041;
  position: fixed;
  z-index: 99;
}
.header.secondColor {
  background-color: #14214e;
  transition: all 0.3s;
}
.headerInner {
  position: relative;
}
.logo {
  display: block;
  width: 14rem;
}
.main-navigation {
  display: flex;
  align-items: center;
  gap: 1%;
}
.center-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}
.menu {
  display: flex;

  &__list {
    display: flex;
    padding: 0 2rem;
  }
  &__link {
    color: #fff;
    position: relative;
    display: flex;
    align-self: stretch;
    font-weight: 700;
    padding: 3rem 0;
    &:hover {
      color: $color-green-5;
    }

    &::after {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotateY(90deg);
      content: '';
      height: 3px;
      // background-color: $color-green-5;
      background: linear-gradient(180deg, rgba($color-black-0, 0.2), rgba($color-black-0, 0.2)), linear-gradient(60deg, $color-blue-6 0%, $color-green-6 200%);

      transition: all 0.3s ease;
    }
  }
}

.menu__list:hover .menu__link::after {
  transform: rotateY(0deg);
}
// .menu__list:hover > .menuPopup--wrapper {
//   opacity: 1;
//   visibility: visible;
// }

//-
.rightSideHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.searchBar {
  display: flex;
  align-items: center;
}
.searchIcon {
  display: inline-block;
  width: 2.5rem;
  cursor: pointer;
}

/////////////
.mobile-nav {
  display: none;
}
.burgurIcon {
  display: none;
}
