//////////////////////
.font-s-20 {
  font-size: 2rem;
}
.font-s-18 {
  font-size: 1.8rem;
}
.font-s-17 {
  font-size: 1.7rem;
}
.font-s-16 {
  font-size: 1.6rem;
}
.font-s-14 {
  font-size: 1.4rem;
}
.font-s-12 {
  font-size: 1.2rem;
}
.font-s-10 {
  font-size: 1rem;
}
.font-s-8 {
  font-size: 0.8rem;
}
//////////////////////
.font-w-7 {
  font-weight: 700;
}
.font-w-6 {
  font-weight: 600;
}
.font-w-5 {
  font-weight: 500;
}
.font-w-4 {
  font-weight: 400;
}
.font-w-3 {
  font-weight: 300;
}

//////////////////////
.margin-tp-10 {
  margin-top: 10rem;
}
//////////////////////
.margin-bt-14 {
  margin-bottom: 14rem;
}
.margin-bt-12 {
  margin-bottom: 12rem;
}
.margin-bt-10 {
  margin-bottom: 10rem;
}
.margin-bt-8 {
  margin-bottom: 8rem;
}
.margin-bt-6 {
  margin-bottom: 6rem;
}
.margin-bt-4 {
  margin-bottom: 4rem;
}
.margin-bt-2 {
  margin-bottom: 2rem;
}
///////////////////////////////

.btn__link {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  display: inline-block;
}
.fill--green {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(69deg, #09b3bf, #5fe3c2);
}
.border--green {
  border: #5fe3c2 2px solid;
  color: #5fe3c2;
}

////////////////////////////////

.flexGrow--1 {
  flex-grow: 1;
}

.hidden {
  display: none;
}

//////////////////////

.container--large {
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.7rem 0 1.5rem;
}

//////////////////////

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fade-in-top {
  animation: fadeInTop 1s 1 ease;
}

.active {
  opacity: 1;
  visibility: visible;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.displayNone {
  display: none !important;
}

//////////////////////
.empty {
  width: 100%;
  height: 25rem;
  background-color: #c8e0ec;
}

//////////////////////

.font--darkGrey {
  color: #333 !important;
}

.active--greenBtn {
  background-color: #00b2a9;
  border: #00b2a9 solid 1px !important;

}

.link--green {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #00b2a9;
  transition: all 0.3s;
  display: inline-block;
}
