.lazyMoveContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}
.lazyMoveTrack {
  opacity: 1;
  width: 4000rem;
  animation: maqee 1000s infinite linear;
}

@keyframes maqee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.iconListBox {
  display: flex;
  gap: 2rem;
  align-items: center;
  white-space: nowrap;

  .iconBox {
    display: inline-block;

    // display: flex;
    // align-items: center;
    // width: 100%;
    // gap: 0.5rem;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #333;
  }
  .iconBoxInnr {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    span {
      display: inline-block;
    }
  }
}

@keyframes lazyMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30rem);
  }
}

.test1 {
  animation: lazyMove 15s 1 linear;
}

.disappear {
  transform: scale(1.5);
  opacity: 0;
  transition: all 1s;
}
