// Hero-module--hero--e76bd
//- Section: color
.hero {
  background: radial-gradient(91.65% 592.16% at 57.03% 50%, #ffcea4 0, #ffab87 100%);
  // position: relative;
}

.hero .Hero-module--heroImg--8554a {
  // display: none;
  // position: absolute;
  // width: 342px;
  // z-index: 10;
}

//-  container side margin auto width%
.hero-container__large {
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

//- overray wrap all
// .Hero-module--overlay--92431
.hero-module--overlay {
  position: relative;
  width: 100%;
}

//- wrap content left
// .Hero-module--wrapper--29990
.hero-module--wrapper {
  padding-bottom: 50px;
  padding-top: 109px;
}
@media (min-width: 1280px) {
  .hero-module--wrapper {
    margin-left: 60px;
  }
}

//- h1
@media (min-width: 576px) {
  .hero-module--wrapper h1 {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .hero-module--wrapper h1 {
    max-width: 50%;
  }
}

//- p
// .Hero-module--wrapper--29990 p {
.hero-module--wrapper p {
  font-size: 2rem;
  font-weight: 300;
  color: #555;
}

// Hero-module--description--894ed
.hero-module--description {
  line-height: 1.6;
  // line-height: 1.45
}

@media (min-width: 576px) {
  .hero-module--description {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .hero-module--description {
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .hero-module--description {
    max-width: 645px;
  }
}

@media (min-width: 1440px) {
  .hero-module--description {
    max-width: 875px;
  }
}

// Hero-module--strongText--4ea65
.hero-module--strongText {
  font-weight: 700;
  margin-top: 10px;
}

// Hero-module--btnHero--4efca
.hero-module--btn {
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.4;
  margin-top: 10px;
  opacity: 1;
  padding: 12px 24px;
  z-index: 100;
}

.hero-module--btn,
.hero-module--btn:hover {
  background: linear-gradient(101.63deg, #28a1c0 8.53%, #16489c 107.27%);
}

.hero-module--btn:hover {
  opacity: 0.8;
  transition: opacity 0.4s;
}

//- img
// Hero-module--heroImg--8554a
.hero .hero-module--img {
  display: none;
  position: absolute;
  // width: 302px;
  width: 342px;
  z-index: 10;
}

@media (min-width: 768px) {
  .hero .hero-module--img {
    bottom: -70px;
    display: block;
    left: calc(100% - 342px);
  }
}

@media (min-width: 1280px) {
  .hero .hero-module--img {
    left: calc(100% - 400px);
    // width: 232px;
    width: 272px;
  }
}

@media (min-width: 1440px) {
  .hero .hero-module--img {
    left: calc(100% - 360px);
    width: 272px;
  }
}

@media (min-width: 1720px) {
  .hero .hero-module--img {
    left: calc(100% - 350px);
    min-width: 372px;
  }
}

.test {
  border: solid 1px rgb(13, 145, 193);
  display: flex;
  flex-grow: 0;

}
.one {
  display: flex;
  flex-grow: 1;
}
.two {
  display: flex;
  flex-wrap: wrap;
  // flex-grow: 9;
}
.oneone {
  width: 10rem;
  height: 10rem;
  background-color: #16489c;
  border: solid 1px red;
}
.twotwo {
  width: 10rem;
  height: 10rem;
  background-color: #169c49;
  border: solid 1px red;
}
