//Burger-module--burger--9ead4
.mobile-burger-icon {
  cursor: pointer;
  font-size: 0;
  height: 20px;
  margin-bottom: 2px;
  position: relative;
  width: 3rem;
  z-index: 20;
}
// @media (min-width: 1280px) {
@media (min-width: 1000px) {
  .mobile-burger-icon {
    display: none;
  }
}
// Burger-module--line--8f8d0

.mobile-burger-line {
  background-color: #000;
  border-radius: 3px;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  transition: 0.3s;
  width: 100%;
}

.mobile-burger-line:first-child {
  top: 2px;
}

.mobile-burger-line:nth-child(2) {
  top: 8.5px;
}

.mobile-burger-line:nth-child(3) {
  left: 0;
  top: 15px;
}

.mobile-burger-icon.mobile-burger--active span {
  box-shadow: none;
  top: calc(50% - 1.5px);
}

.mobile-burger-icon.mobile-burger--active span:first-child {
  transform: rotate(45deg);
}

.mobile-burger-icon.mobile-burger--active span:nth-child(2) {
  transform: rotate(-45deg);
}

.mobile-burger-icon.mobile-burger--active span:nth-child(3) {
  opacity: 0;
  transform: rotate(-45deg);
}
