.awardSection {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: $color-blue-10;
}
.awardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__left {
    width: 60%;
    @include respond(tab-port) {
      width: 100%;
    }
    h2 {
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.8rem;
      margin-bottom: 5rem;
    }
  }
  &__right {
    @include respond(tab-port) {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(-40%, 10%);
    }
    @include respond(phone) {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateX(-40%);
    }
  }
}

.reviewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--counts {
    font-size: 1.8rem;
    font-weight: 700;
    @include respond(tab-port) {
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
    }
  }
  &--logo {
    width: 6rem;
    @include respond(tab-port) {
      width: 4rem;
      align-self: center;
    }
  }
  &--points {
    // font-family: $font-title;
    font-size: 12rem;
    font-weight: 900;
    line-height: 1.2;
    @include respond(tab-port) {
      font-size: 4rem;
      font-weight: 700;
    }
  }
  &--stars {
    align-self: stretch;
    @include respond(tab-port) {
      width: 10rem;
      align-self: center;
    }
  }
}

//-

@keyframes cardAppear {
  0% {
    transform: rotateY(-270deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes cardDisappear {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
.cardBackface {
  transform: rotateY(-270deg) !important;
  // backface-visibility: visible;
}

.cardAppear {
  animation: cardAppear 2s 0.5s 1 forwards;
}
.cardDisappear {
  animation: cardDisappear 1s 0.5s 1 forwards;
}

.awardLazyMove {
  padding-top: 2rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
.awardLazyMoveTrack {
  display: flex;
  cursor: grab;
  position: relative;

  &__inner {
    perspective: 150rem;
    transition: all 5s;
    padding: 1rem;
  }

  &__item {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2.5rem;
    box-shadow: 0.2rem 0.2rem 4rem -1rem rgba($color-black-0, 0.15);
    border-radius: 2rem;
    transition: all 1s;

    .imgBox {
      min-height: 15rem;
      img {
        max-width: 16rem;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    h5 {
    }
    p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

.dragTransition {
  transition: all 0s;
}
