//Why trust RDEV
.trustSection {
  background-color: #f5f8fa;
  padding: 15rem 0 10rem;
}
.trustSectionWrapper {
  display: flex;
  justify-content: space-between;

  &__left {
    width: 38%;

    img {
      width: 100%;
      opacity: 0.95;
      padding-top: 2rem;
    }
  }
  &__right {
    width: 58%;
    padding-right: 2rem;
  }
}

.partnerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.partnerContainer__slide {
  width: 100%;
  border-bottom: 1px solid #cdcbcb;
  cursor: pointer;
  transition: all 0.3s;
  color: $color-grey-5;

  &:hover {
    color: #333;
  }
  &:hover .accordionIcon {
    background-color: #333;
  }
}
.partnerContainer__title {
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionIcon {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 0.2rem;
  background-color: currentColor;
  transition: background-color 0.3s;
  transition: transform 0.3s;

  &--v {
    position: absolute;
    content: '';
    left: 0%;
    top: 0%;
    display: inline-block;
    width: 2rem;
    height: 0.2rem;
    background-color: currentColor;
    transition: transform 0.3s;
    transform: rotate(-90deg);
  }
  // &:hover::before {
  //   transform: rotate(-180deg);
  // }
}
.containerInner {
  transition: all 1s;
  overflow: hidden;
  display: flex;
  height: 0;
}
.containerInnerP {
  padding-bottom: 3rem;
}
.partnerContainer__paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
}

// .activeSlide {
// transition: all 1s;
// height: 6rem;
// }
