*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  height: 100%;
  color: #333; }

h1 {
  font-size: 6rem;
  line-height: 1.2; }

li,
ul {
  list-style: none;
  display: inline-block; }

a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap; }

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap; }

.font-s-20 {
  font-size: 2rem; }

.font-s-18 {
  font-size: 1.8rem; }

.font-s-17 {
  font-size: 1.7rem; }

.font-s-16 {
  font-size: 1.6rem; }

.font-s-14 {
  font-size: 1.4rem; }

.font-s-12 {
  font-size: 1.2rem; }

.font-s-10 {
  font-size: 1rem; }

.font-s-8 {
  font-size: 0.8rem; }

.font-w-7 {
  font-weight: 700; }

.font-w-6 {
  font-weight: 600; }

.font-w-5 {
  font-weight: 500; }

.font-w-4 {
  font-weight: 400; }

.font-w-3 {
  font-weight: 300; }

.margin-bt-14 {
  margin-bottom: 14rem; }

.margin-bt-12 {
  margin-bottom: 12rem; }

.margin-bt-10 {
  margin-bottom: 10rem; }

.margin-bt-8 {
  margin-bottom: 8rem; }

.margin-bt-6 {
  margin-bottom: 6rem; }

.margin-bt-4 {
  margin-bottom: 4rem; }

.margin-bt-2 {
  margin-bottom: 2rem; }

.btn__link {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  border-radius: 4rem; }

.fill--green {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(69deg, #09b3bf, #5fe3c2); }

.border--green {
  border: #5fe3c2 2px solid;
  color: #5fe3c2; }

.flexGrow--1 {
  flex-grow: 1; }

.hidden {
  display: none; }

.container--large {
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.7rem 0 1.5rem; }

.empty {
  width: 100%;
  height: 100vh;
  background-color: #c8e0ec; }

.hero {
  width: 100%;
  height: 42em; }

.trigger {
  display: block; }

.heroWrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.902), rgba(0, 0, 0, 0.235)), url("https://f.hubspotusercontent10.net/hubfs/4542168/stx-next-nodejs-development-photo-2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 5rem 2rem; }

.main {
  width: 100%;
  height: 95vh;
  background-color: #fff; }

.lightboxOverlay {
  background-color: #000;
  filter: alpha(Opacity=80);
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0; }

.heroContainer {
  max-width: 123rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 17rem 1.7rem 15rem; }

.heroModule {
  display: flex;
  width: 50%;
  flex-direction: column;
  color: #fff; }

.heroBtnControl {
  display: flex;
  gap: 2rem;
  align-items: center; }

.paragraph--large {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8; }

.paragraph--normal {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6; }

.heroModule-dev {
  display: flex;
  gap: 2rem;
  align-items: center; }
  .heroModule-dev__img {
    width: 5rem;
    border-radius: 50%; }
  .heroModule-dev__namePosition {
    display: flex;
    flex-direction: column;
    gap: 0.7rem; }
    .heroModule-dev__namePosition span:first-child {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #33cac0;
      font-weight: 600; }
    .heroModule-dev__namePosition span:nth-child(2) {
      font-size: 1.3rem;
      font-weight: 500; }

.bar {
  padding: 10rem 6rem 0; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: none; } }

.fade-in {
  animation: fadeIn 1s 1 ease; }

.trustSection {
  background-color: #f5f8fa;
  padding: 15rem 0; }
  .trustSection .trustContainer {
    display: flex; }
  .trustSection__left {
    width: 50%; }
  .trustSection__right {
    width: 50%;
    padding: 5rem 17rem 5rem 5rem; }

.partnerContainer {
  display: flex;
  flex-direction: column;
  width: 100%; }

.partnerContainer__slide {
  width: 100%;
  border-bottom: 1px solid #cdcbcb; }

.partnerContainer__title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #868686;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  position: relative; }

.containerInner {
  transition: all 1s;
  overflow: hidden;
  display: flex;
  height: 0; }

.containerInnerP {
  padding-bottom: 3rem; }

.partnerContainer__paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%; }

.developmentSection {
  background-color: #f5f8fa;
  padding: 15rem 0; }

.chooseTitle {
  display: flex;
  align-items: center;
  padding: 0 17rem; }
  .chooseTitle--left {
    width: 50%;
    justify-self: start; }
  .chooseTitle--right {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: end;
    position: relative; }
    .chooseTitle--right::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -3rem;
      width: 70%;
      height: 0.1rem;
      background-color: #4e4e4e; }
  .chooseTitle__img {
    width: 13rem; }

.chooseInfo {
  display: flex;
  align-items: center; }
  .chooseInfo__imgWrapper {
    width: 50%; }
  .chooseInfo__img {
    width: 90%; }
  .chooseInfo__detail {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 17rem;
    align-items: start;
    justify-content: center; }

.pythonJsModule {
  display: flex; }
  .pythonJsModule__left {
    width: 45%;
    padding-left: 17rem;
    padding-right: 7rem; }
  .pythonJsModule__right {
    width: 55%; }
  .pythonJsModule--img {
    display: block;
    width: 100%; }

.pythonServiceSection {
  background: #fff;
  padding: 12rem 0; }

.largestPython {
  display: flex;
  align-items: center;
  margin-bottom: 20rem; }
  .largestPython__left {
    width: 50%;
    padding-left: 17rem;
    padding-right: 5rem; }
  .largestPython__right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-self: start;
    position: relative; }
  .largestPython--img {
    display: block;
    width: 80%; }

.layerInner {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  transform: translateY(80%);
  width: 75%;
  background-color: #fff;
  padding: 3rem 5rem 6rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.276); }
  .layerInner__head {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .layerInner--no1 {
    font-size: 6rem;
    font-weight: 700;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(60deg, #09b3bf, #5fe3c2); }
  .layerInner .review {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .layerInner .review__left {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      line-height: 1;
      font-size: 1.4rem;
      font-weight: 500; }
      .layerInner .review__left img {
        width: 10rem;
        display: inline-block;
        align-self: center; }
    .layerInner .review__right {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 1rem;
      line-height: 1;
      align-items: center; }
    .layerInner .review__stars {
      display: flex;
      align-items: center;
      gap: 0.2; }
      .layerInner .review__stars--fulled {
        display: inline-block;
        width: 1.8rem;
        fill: #ff3d2e; }
    .layerInner .review--count {
      font-size: 1.4rem; }

.serviceProvide {
  display: flex; }
  .serviceProvide__left {
    width: 40%;
    padding-bottom: 15rem; }
    .serviceProvide__left img {
      width: 100%;
      display: inline-block;
      transform: scale(1.5);
      transform-origin: top right; }
  .serviceProvide__right {
    width: 60%;
    padding: 5rem 17rem 0 5rem; }

.header {
  width: 100%;
  background-color: #00000082;
  position: fixed;
  z-index: 99; }

.header.secondColor {
  background-color: #1e1e1e; }

.headerInner {
  position: relative; }

.logo {
  display: block;
  width: 12rem; }

.main-navigation {
  display: flex;
  align-items: center;
  gap: 1%; }

.center-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-self: stretch; }

.menu {
  display: flex; }
  .menu__list {
    display: flex;
    padding: 0 2rem; }
  .menu__link {
    color: #fff;
    position: relative;
    display: flex;
    align-self: stretch;
    font-weight: 700;
    padding: 4rem 0; }
    .menu__link:hover {
      color: #33cac0; }
    .menu__link::after {
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: rotateY(90deg);
      content: '';
      height: 3px;
      background-color: #33cac0;
      transition: all 0.3s ease; }

.menu__list:hover .menu__link::after {
  transform: rotateY(0deg); }

.rightSideHeader {
  display: flex;
  align-items: center;
  gap: 2rem; }

.searchIcon {
  display: block;
  width: 2rem; }

.mobile-nav {
  display: none; }

.burgurIcon {
  display: none; }

.menuPopup--wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s; }

.menuPopup-container {
  display: flex;
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 2rem; }

.menuPopup-module {
  display: flex;
  flex-direction: column;
  padding-right: 5rem; }

.menuPopup-title {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 2rem; }

.menuPopup__list {
  display: flex;
  flex-direction: column; }

.menuPopup__link {
  line-height: 1.8; }

.visible9999 {
  opacity: 1;
  visibility: visible; }

.lazyContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem; }

.temp {
  display: flex;
  opacity: 1;
  width: 40000px;
  transform: translateX(106.8rem);
  transition: transform 10000ms linear 0s; }

.cBoxColMainS {
  display: flex;
  gap: 2rem;
  align-items: center;
  white-space: nowrap; }
  .cBoxColMainS .cBoxCol1 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #333; }
  .cBoxColMainS .cBoxCol1Innr {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem; }
    .cBoxColMainS .cBoxCol1Innr span {
      display: inline-block; }

@keyframes lazyMove {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-30rem); } }

.test1 {
  animation: lazyMove 15s 1 linear; }
