.developmentSection {
  background-color: $color-blue-10;
  padding: 15rem 0;
}
.containerWrapper {
}

.chooseTitle {
  display: flex;
  align-items: center;
  padding: 0 17rem;
  &--left {
    width: 50%;
    justify-self: start;
  }
  &--right {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: end;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -3rem;
      width: 70%;
      height: 0.1rem;
      background-color: #4e4e4e;
    }
  }
  &__img {
    width: 13rem;
  }
}

.chooseInfo {
  display: flex;
  align-items: center;

  &__imgWrapper {
    width: 50%;
  }
  &__img {
    width: 90%;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 17rem;
    align-items: start;
    justify-content: center;
  }
}

.pythonJsModule {
  display: flex;

  &__left {
    width: 45%;
    padding-left: 17rem;
    padding-right: 7rem;
  }

  &__right {
    width: 55%;
  }
  &--img {
    display: block;
    width: 100%;
  }
}

/////

.pythonServiceSection {
  background: #fff;
  padding: 12rem 0;
}
.largestPython {
  display: flex;
  align-items: center;
  margin-bottom: 20rem;
  &__left {
    width: 50%;
    padding-left: 17rem;
    padding-right: 5rem;
  }
  &__right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-self: start;
    position: relative;
  }
  &--img {
    display: block;
    width: 80%;
  }
}

.layerInner {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  transform: translateY(80%);
  width: 75%;
  background-color: #fff;
  padding: 3rem 5rem 6rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.276);
  &__head {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &--no1 {
    font-size: 6rem;
    font-weight: 700;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(60deg, #09b3bf, #5fe3c2);
  }

  .review {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__left {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      line-height: 1;
      font-size: 1.4rem;
      font-weight: 500;
      img {
        width: 10rem;
        display: inline-block;
        align-self: center;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 1rem;
      line-height: 1;
      align-items: center;
    }
    &__stars {
      display: flex;
      align-items: center;
      gap: 0.2;
      &--fulled {
        display: inline-block;
        width: 1.8rem;
        fill: #ff3d2e;
      }
    }
    &--count {
      font-size: 1.4rem;
    }
  }
}

//
.serviceProvide {
  display: flex;
  &__left {
    width: 40%;
    padding-bottom: 15rem;
    img {
      width: 100%;
      display: inline-block;
      transform: scale(1.5);
      transform-origin: top right;
    }
  }
  &__right {
    width: 60%;
    padding: 5rem 17rem 0 5rem;
  }
}
