.lazyMoveContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  
}
.lazyMoveTrack {
  display: flex;
  opacity: 1;
  width: 4000rem;
  animation: maqee 100s 2 linear;
}

@keyframes maqee {
  0% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(-148.7195rem);
  }
  100% {
    transform: translateX(-148.7195rem);
  }
}

.iconListBox {
  display: flex;
  gap: 2rem;
  align-items: center;
  white-space: nowrap;

  .iconBox {
    // display: inline-block;

    display: flex;
    align-items: center;
    // width: 100%;
    // gap: 0.5rem;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    box-shadow: 0 0.2rem 4rem -1rem rgba($color-black-0, 0.15);
    padding: 0.5rem;

    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .iconBoxInnr {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    span {
      display: inline-block;
    }
  }
}

@keyframes lazyMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30rem);
  }
}

.test1 {
  animation: lazyMove 15s 1 linear;
}
